<!DOCTYPE html>
<html lang="en">
  <head>
{{> head-first}}
    <title>Apache Cassandra{{#with site.title}} | {{this}}{{/with}}</title>
    {{#with (canonical-url)}}
    <link rel="canonical" href="{{this}}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&amp;family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;1,400;1,500&amp;display=swap" rel="stylesheet">
    {{/with}}
{{> head-last}}
  </head>
  <body class="{{page.layout}}">
      <div class="container mx-auto relative">
        {{> header }}
        <div class="hero hero--home grad">
            <div class="eye"></div>
            <div id="home-content" class="text-center flex flex-center flex-column relative z2 ma-xlarge">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
       <section id="blog-main" class="arrow py-xlarge">
           <div class="inner">
               <h2 class="text-center">From startups to the largest enterprises, the world runs on Cassandra.</h2>
               <div class="grid-list list pb-large">
                    {{{page.contents}}}
               </div>
           </div>
       </section>
           
        {{> footer}}
      </div>
  </body>
<script>
jQuery(function(){
  $(document)
  .on('click','.card',function(){
      var link = $(this).find('a').attr('href');
      window.open(link);
  });
});
</script>
</html>
