<nav class="crumbs" aria-label="breadcrumbs">
  <ul>
    {{!-- NOTE add entry for current component, but not the home component or if the title matches the first breadcrumb --}}
    {{#unless (eq page.component.name 'home')}}
    {{#unless (or (eq page.breadcrumbs.0.content page.component.title) (eq page.breadcrumbs.0.content page.componentVersion.title))}}
    <li class="crumb"><a href="{{relativize page.componentVersion.url}}">{{{page.component.title}}}</a></li>
    {{/unless}}
    {{/unless}}
    {{#each page.breadcrumbs}}
    <li class="crumb">{{#if (eq ./urlType 'internal')}}<a href="{{relativize ./url}}">{{{./content}}}</a>{{else}}{{{./content}}}{{/if}}</li>
    {{/each}}
  </ul>
</nav>
