
<header id="top-nav">
    <div class="inner relative">
         <div class="header-social-icons text-right">
            <a href="https://twitter.com/cassandra?lang=en" target="_blank" styles="margin-left: 20px;"><img src="{{{uiRootPath}}}/img/twitter-icon-circle-white.svg" alt="twitter icon" width="24"></a>
            <a href="https://www.linkedin.com/company/apache-cassandra/"  target="_blank" styles="margin-left: 20px;"><img src="{{{uiRootPath}}}/img/LI-In-Bug.png" alt="linked-in icon" width="24"></a>
            <a href="https://www.youtube.com/c/PlanetCassandra" target="_blank" styles="margin-left: 20px;"><img src="{{{uiRootPath}}}/img/youtube-icon.png" alt="youtube icon" width="24"></a>
        </div>
        <div class="cf">
            <div class="logo left"><a href="{{{ site.url }}}"><img src="{{{uiRootPath}}}/img/logo-white.svg" alt=""></a></div>
            <div class="mobile-nav-icon right">
                <img class="toggle-icon" src="{{{uiRootPath}}}/img/hamburger-nav.svg">
            </div>
            {{> header-nav}}
        </div>
    </div>
</header>

