<ul class="main-nav nav-links right flex flex-vert-center flex-space-between">
    <li>
        <a class="nav-link hide-mobile">Get Started</a>
        <ul class="sub-menu bg-white">
            <li class="pa-micro">
                <a href="{{{ site.url }}}/_/cassandra-basics.html">
                    <div class="sub-nav-icon">
                        <img src="{{{uiRootPath}}}/img/sub-menu-basics.png" alt="cassandra basics icon">
                    </div>
                    <div class="sub-nav-text teal py-small">
                        Cassandra Basics
                    </div>
                </a>
            </li>
            <li class="pa-micro">
                <a href="{{{ site.url }}}/_/quickstart.html">
                    <div class="sub-nav-icon">
                        <img src="{{{uiRootPath}}}/img/sub-menu-rocket.png" alt="cassandra basics icon">
                    </div>
                    <div class="sub-nav-text teal py-small">
                        Quickstart
                    </div>
                </a>
            </li>
            <li class="pa-micro">
                <a href="{{{ site.url }}}/_/ecosystem.html">
                    <div class="sub-nav-icon">
                        <img src="{{{uiRootPath}}}/img/sub-menu-ecosystem.png" alt="cassandra basics icon">
                    </div>
                    <div class="sub-nav-text teal py-small">
                        Ecosystem
                    </div>
                </a>
            </li>
        </ul>
    </li>
    <li><a class="nav-link" href="{{{ site.url }}}/doc/latest/">Documentation</a></li>
    <li>
        <a class="nav-link" href="{{{ site.url }}}/_/community.html">Community</a>
        <ul class="sub-menu bg-white">
            <li class="pa-micro">
                <a href="{{{ site.url }}}/_/community.html#code-of-conduct">
                    <div class="sub-nav-icon">
                        <img src="{{{uiRootPath}}}/img/sub-menu-welcome.png" alt="welcome icon">
                    </div>
                    <div class="sub-nav-text teal py-small">
                        Welcome
                    </div>
                </a>
            </li>
            <li class="pa-micro hide-mobile">
                <a href="{{{ site.url }}}/_/community.html#discussions">
                    <div class="sub-nav-icon">
                        <img src="{{{uiRootPath}}}/img/sub-menu-discussions.png" alt="discussions icon">
                    </div>
                    <div class="sub-nav-text teal py-small">
                        Discussions
                    </div>
                </a>
            </li>
            <li class="pa-micro hide-mobile">
                <a href="{{{ site.url }}}/_/community.html#project-governance">
                    <div class="sub-nav-icon">
                        <img src="{{{uiRootPath}}}/img/sub-menu-governance.png" alt="Governance icon">
                    </div>
                    <div class="sub-nav-text teal py-small">
                        Governance
                    </div>
                </a>
            </li>
            <li class="pa-micro hide-mobile">
                <a href="{{{ site.url }}}/_/community.html#how-to-contribute">
                    <div class="sub-nav-icon">
                        <img src="{{{uiRootPath}}}/img/sub-menu-contribute.png" alt="Contribute icon">
                    </div>
                    <div class="sub-nav-text teal py-small">
                        Contribute
                    </div>
                </a>
            </li>
            <li class="pa-micro hide-mobile">
                <a href="{{{ site.url }}}/_/community.html#meet-the-community">
                    <div class="sub-nav-icon">
                        <img src="{{{uiRootPath}}}/img/sub-menu-community.png" alt="Meet the Community icon">
                    </div>
                    <div class="sub-nav-text teal py-small">
                        Meet the Community
                    </div>
                </a>
            </li>
            <li class="pa-micro hide-mobile">
                <a href="{{{ site.url }}}/_/events.html">
                    <div class="sub-nav-icon">
                        <img src="{{{uiRootPath}}}/img/sub-menu-events.png" alt="Events icon">
                    </div>
                    <div class="sub-nav-text teal py-small">
                        Events
                    </div>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a class="nav-link hide-mobile">Learn</a>
        <ul class="sub-menu bg-white">
            <li class="pa-micro">
                <a href="{{{ site.url }}}/_/case-studies.html">
                    <div class="sub-nav-icon">
                        <img src="{{{uiRootPath}}}/img/sub-menu-case-study.png" alt="Case Studies icon">
                    </div>
                    <div class="sub-nav-text teal py-small">
                        Case Studies
                    </div>
                </a>
            </li>
            <li class="pa-micro">
                <a href="{{{ site.url }}}/_/resources.html">
                    <div class="sub-nav-icon">
                        <img src="{{{uiRootPath}}}/img/sub-menu-resources.png" alt="Resources icon">
                    </div>
                    <div class="sub-nav-text teal py-small">
                        Resources
                    </div>
                </a>
            </li>
            <li class="pa-micro">
                <a href="{{{ site.url }}}/_/blog.html">
                    <div class="sub-nav-icon">
                        <img src="{{{uiRootPath}}}/img/sub-menu-blog.png" alt="Blog icon">
                    </div>
                    <div class="sub-nav-text teal py-small">
                        Blog
                    </div>
                </a>
            </li>
        </ul>
    </li>
    <li><a class="nav-link btn btn--filled" href="{{{ site.url }}}/_/download.html">Download Now</a></li>
</ul>
